<ActionBar class="action-bar" title="Localizacion - El Duende" android.icon="res://logo_action_bar" android.iconVisibility="always">
    <NavigationButton icon="res://purple_arrow" (tap)="goBack()"></NavigationButton>
</ActionBar>

<StackLayout class="profile-container">
    <Label class="profile-label" text="Nombre de usuario"></Label>
    <TextView text="{{ usuarioActivo.username }}" 
      class="profile-field" ios:col="1" android:row="1"></TextView>
    <Label class="profile-label" text="Correo Electrónico"></Label>
    <TextView class="text" text="{{ usuarioActivo.email }}" 
    class="profile-field" ios:col="1" android:row="1"></TextView>
    <Label class="profile-label" text="Fecha de registro"></Label>
    <TextView class="profile-field" text="{{ usuarioActivo.fechaAlta }}" 
      ios:col="1" android:row="1"></TextView>
    <Button class="btn btn-primary" text="Eliminar tu cuenta" (tap)="onDeleteButtonTap()"></Button>
</StackLayout>
<!--GridLayout class="page" columns="*, *" rows="*, *">
    <StackLayout cssClass="top-border" row="0"></StackLayout>
	<ScrollView row="1" class="fields-section">
            <GridLayout row="1" col="0">
                <Label text="Usuario"></Label>
                <TextView class="text" text="{{ username }}" 
                cssClass="field" ios:col="1" android:row="1"></TextView>
            </GridLayout> 
            <StackLayout  row="2" col="0" class="line"></StackLayout>
            <GridLayout ios:columns="auto,*" android:rows="auto, auto" verticalAlignment="top">
                <Label text="Correo Electrónico"></Label>
                <TextView class="text" text="{{ email }}" 
                cssClass="field" ios:col="1" android:row="1"></TextView>
            </GridLayout> 
            <StackLayout cssClass="line"></StackLayout>
            <GridLayout ios:columns="auto,*" android:rows="auto, auto" verticalAlignment="top">
                <Label text="Fecha de registro"></Label>
                <TextView class="text" text="{{ fechaAlta }}" 
                  ios:col="1" android:row="1"></TextView>
            </GridLayout> 
            <StackLayout cssClass="line"></StackLayout>
            <GridLayout ios:columns="auto,*" android:rows="auto, auto" verticalAlignment="top">
                <Button class="btn btn-primary" text="Eliminar tu cuenta" (tap)="onDeleteButtonTap()"></Button>
            </GridLayout>
            <StackLayout class="line"></StackLayout>
    </ScrollView>
</GridLayout-->