<ActionBar class="action-bar" title="Login - El Duende" android.icon="res://logo_action_bar" android.iconVisibility="always">
    <NavigationButton icon="res://purple_arrow" [visibility]="false"></NavigationButton>
</ActionBar>
<ScrollView>
    <StackLayout class="page p-t-15">
        <Image src="res://logo_transparente"
            stretch = "aspectFit"
            class = "logo"></Image>
        <StackLayout class="form">
            <TextField class="input-text" hint="Nombre de Usuario" autocorrect="false" 
                autocapitalization="none" returnKeyType="next" [(ngModel)]="username"></TextField>
            <TextField class="input-text" hint="Contraseña" secure="true" autocorrect="false" autocapitalization="none"
                [(ngModel)]="password"></TextField>

            <Button class="btn btn-primary" text="Acceder" (tap)="onLoginButtonTap()"></Button>
            <Button class="btn btn-primary" text="Registrarse" (tap)="onSignUpButtonTap()"></Button>
            <Label class="txt-pass" text="¿Has olvidado tu contraseña?" (tap)="onForgotPasswordTap()"></Label>
        </StackLayout>
    </StackLayout>
</ScrollView>

