<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page" columns="*, *" rows="*, *">
    <Label text="Partidas y Eventos" row="0" col="0" backgroundColor="red" (tap)="onPartidasTap()"></Label>
    <Label text="Ludoteca" row="0" col="1"backgroundColor="green" (tap)="onLudotecaTap()"></Label>
    <Label text="Perfil" row="1" col="0"backgroundColor="blue" (tap)="onPerfilTap()"></Label>
    <Label text="Donde Encontrarnos" row="1" col="1" backgroundColor="yellow" (tap)="onLocalizacionTap()"></Label>
</GridLayout>