<ActionBar class="action-bar" title="Eventos - El Duende" android.icon="res://logo_action_bar" android.iconVisibility="always">
    <NavigationButton icon="res://purple_arrow" (tap)="goBack()"></NavigationButton>
    <ActionItem (tap)="addPartida()"
      ios.systemIcon="16" ios.position="right"
      android.position="actionBarIfRoom" icon="res://signo_mas"></ActionItem>
</ActionBar>
<GridLayout>
<ListView [items]="partidas" class="lista-partidas" row="1">
    <ng-template let-item="item">
        <Label [text]="item" class="partida-item"></Label>
    </ng-template>
</ListView>
</GridLayout>