<ActionBar class="action-bar" title="Eventos - El Duende" android.icon="res://logo_action_bar" android.iconVisibility="always">
    <NavigationButton icon="res://purple_arrow" (tap)="goBack()"></NavigationButton>
    <ActionItem (tap)="addPartida()"
      ios.systemIcon="16" ios.position="right"
      android.position="actionBarIfRoom" icon="res://signo_mas"></ActionItem>
</ActionBar>
<GridLayout>
<ListView [items]="listaPartidas" class="lista-partidas" row="1">
    <ng-template let-item="item">
        <StackLayout class="partida-item">
            <Label [text]="item.juego" class="partida-text partida-title"></Label>
            <label [text]="item.fecha" class="partida-text"></label>
            <label [text]="item.maxJugadores + ' jugadores como máximo'" class="partida-text"></label>
        </StackLayout>
    </ng-template>
</ListView>
</GridLayout>