<ActionBar class="action-bar" title="Registro - El Duende" android.icon="res://logo_action_bar" android.iconVisibility="always">
    <NavigationButton icon="res://purple_arrow" (tap)="goBack()"></NavigationButton>
</ActionBar>
<ScrollView>
    <StackLayout class="page p-t-15">
        <Image src="res://logo_transparente"
            stretch = "aspectFit"
            class = "logo"></Image>
        <StackLayout class="form">
            <TextField class="input-text" hint="Nombre de Usuario" autocorrect="false" autocapitalization="none" 
                [(ngModel)]="usuarioRegistrar.username"></TextField>
            <TextField class="input-text" hint="Correo Electrónico" keyboardType="email" autocorrect="false" 
                autocapitalization="none" [(ngModel)]="usuarioRegistrar.email"></TextField>
            <TextField class="input-text" hint="Contraseña" secure="true" autocorrect="false" 
                autocapitalization="none" [(ngModel)]="usuarioRegistrar.password" ></TextField>
            <Button class="btn btn-primary" text="Registrar" (tap)="onSignupButtonTap()"></Button>
        </StackLayout>
    </StackLayout>
</ScrollView>
