<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Sign up"></Label>
</ActionBar>
<ScrollView>
    <StackLayout class="page p-t-15">
        <!-- Button class="btn btn-outline" (tap)="onSignupWithSocialProviderButtonTap()" text="Sign up with Social Provider"></Button>
        TODO: implementar login social
        <Label class="m-t-10 text-center" text="or"></Label -->

        <TextField class="text-input" hint="Nombre de Usuario" autocorrect="false" autocapitalization="none" 
                   [(ngModel)]="name"></TextField>
        <TextField class="text-input" hint="Correo Electrónico" keyboardType="email" autocorrect="false" 
                   autocapitalization="none" [(ngModel)]="email"></TextField>
        <TextField class="text-input" hint="Contraseña" secure="true" autocorrect="false" 
                   autocapitalization="none" [(ngModel)]="password" ></TextField>
        <Button class="btn btn-primary" text="Registrar" (tap)="onSignupButtonTap()"></Button>
    </StackLayout>
</ScrollView>
